body{
    background-color: black;
    color: white;
}

h1{
font-family: Lato;
}

h2{
font-family: Lato;
}

.container{
    text-align: center;
}

#botonImagen{
    background-color: black;
    border-color: white;
    color: white;
    font-family: Lato;
}